@charset "utf-8";
// import Montserrat from google font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

// ================ SCSS VARIABLES ==================

// default box-sizing
$box_sizing: border-box;

// default padding
$padding_default: 15px 15px;

// default radius
$radius_default: 7.5px;

// background and font color
$color_background: #ffffff;
$color_font_primary: #ff6060;
$color_font_secondary: #ffffff;

// fonts size
$font_large: 48px;
$font_medium: 24px;
$font_small: 18px;